:root {
    --primary-brand-color: #4D5AE5;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --white-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var (--dark-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.three-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color)
}

/* Стилі-Хедер! */
.header {
    width: var(--light-color)
}
/* Логотип */
.logo {
font-family: 'Raleway', sans-serif;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--primary-brand-color);
}
.accent-style {
    color: var(--light-color)
}

.accent { 
    color: var(--dark-color);
}

/* Навігація на інші сторінки */
.nav-link {
color: var(--dark-color);
}

.menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.menu:hover {
    color: var(--text-color);

}

.menu:active {
    color: var(--primary-brand-color);
}



.contact {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color)

}

.contact:hover {
    color: var(--primary-brand-color);
}

.nav {
    width: 1440px;
    height: 72px;
    background: var(--white-color)
}



.hero {
    background-color:  var(--dark-color);
    
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}
/* Кнопка */
.button-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
cursor: pointer;
letter-spacing: 0.04em;
background-color: var(--primary-brand-color);
color: var(--white-color);

}
.button {
    padding: 16px 32px;
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    background: var(--primary-brand-color);
    border-radius: 4px;
}

.button-filter {
    font-family: 'Raleway', sans-serif ;
    background: var(light-color);
    border: 1px solid var(--accent-color);
    color: var(--primary-brand-color)
}

.button-filter:hover {
    background-color: var(--primary-brand-color);
    color: var(--white-color);
}
.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.two-header {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-transform: capitalize;
color: var(--dark-color);
}

.tools-title {
font-weight: 700;
font-size: 20px;
line-height: 1.2;
color: var(--dark-color);
} 
.title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}
/* Команда */

.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.profession {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}
/* Портфоліо! */
.portfolio-body {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-colorxc);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color)
}

/* Стилі-Футер! */
.footer {
    width: 1440px;
    height: 310px;
    top: 2283px;
    background: var(--dark-color)
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
/* .footer {

}    */